body {
	
}
footer{
  position:fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  background-color: navy;
}

.categoria {
  position: fixed;
  top:150px;
  left:10px;
  border-style: outset;
  border-color: white;
  border-width: 5px;
  padding:5px;
  float: left;
}

.produto {
  position: fixed;
  top: 150px;
  right: 10px;
  border-style: outset;
  border-color: white;
  border-width: 5px;
  padding:5px;
  float: right;
}

.descricao {
    position: fixed;
    margin-top: 12%;
    right: 600px;
    border-style: outset;
    border-color: white;
    border-width: 5px;
    padding:5px;
    font-family: Verdana;
    color: white;
    background: navy;
    float: none;


}


#principal{
  position:relative;
  top: 0px;
  height: 100px;
  width: 100%;
  text-align: center;
  vertical-align: middle; 
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  background-color: navy;
}

